/* RESET */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0067f4;
  --white: #fff;
  --grey: #6c6c6c;
  --lightgrey: #f4f6f7;
  --base-px: 10px;
  --black: #121212;
  --green: #2ad8dd;
}

html {
  font-size: var(--base-px);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  overflow-x: hidden;
  padding-top: 70px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}
