*,::before,::after{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

:root{

	--green: #969228;
	--white:#fff;
	--black:#1D1D1C;
	--pink:#DEC4B2;
	--pink2:#DBA9A5;
	--wheat: #F5EDE8;

	--base-px:10px;
}

@font-face {
    font-family: 'blackjack';
    src: url('../fonts/blackjack.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

html{
	font-size: var(--base-px);
}

body{
	font-family: poppins, sans-serif;
	font-size: 1.5rem;
	line-height: 2.6rem;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

section{
	position: relative;
	padding: 3%;
}

img,
video{
	width:100%;
	height: auto;
}


.container{
    width:1300px;
    margin-inline: auto;
}

.row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2rem;
}


.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-12{
    grid-column: span 12;
}




/*******MEDIA QUERIES*********************/

@media screen and (max-width:1350px){
	.container{
		width: 1000px;
	}

	.col-md-1{
        grid-column: span 1;
    }
    
    .col-md-2{
        grid-column: span 2;
    }
    
    .col-md-3{
        grid-column: span 3;
    }
    
    .col-md-4{
        grid-column: span 4;
    }
    
    .col-md-5{
        grid-column: span 5;
    }
    
    .col-md-6{
        grid-column: span 6;
    }

    .col-md-7{
        grid-column: span 8;
    }
    
    .col-md-8{
        grid-column: span 8;
    }
    
    .col-md-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:1050px){
	.container{
		width: 800px;
	}

	 .col-sm-1{
        grid-column: span 1;
    }
    
    .col-sm-2{
        grid-column: span 2;
    }
    
    .col-sm-3{
        grid-column: span 3;
    }
    
    .col-sm-4{
        grid-column: span 4;
    }
    
    .col-sm-5{
        grid-column: span 5;
    }
    
    .col-sm-6{
        grid-column: span 6;
    }

    .col-sm-7{
        grid-column: span 8;
    }
    
    .col-sm-8{
        grid-column: span 8;
    }
    
    .col-sm-12{
        grid-column: span 12;
    }

	

}

@media screen and (max-width:850px){

	.container{
		width: 600px;
	}

	 .col-xs-1{
        grid-column: span 1;
    }
    
    .col-xs-2{
        grid-column: span 2;
    }
    
    .col-xs-3{
        grid-column: span 3;
    }
    
    .col-xs-4{
        grid-column: span 4;
    }
    
    .col-xs-5{
        grid-column: span 5;
    }
    
    .col-xs-6{
        grid-column: span 6;
    }

    .col-xs-7{
        grid-column: span 8;
    }
    
    .col-xs-8{
        grid-column: span 8;
    }
    
    .col-xs-12{
        grid-column: span 12;
    }



}





@media screen and (max-width:650px){

	.container{
		width: 95%;
	}

	.row{
		gap:0 2rem;
	}

    [class*="col-"]{
        grid-column: span 12!important;
    }

}
