@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

/* Base */
@import "base/reset.css";

/* Composants */
@import "components/header.css";
@import "components/slider.css";
@import "components/services.css";
@import "components/pricing.css";
@import "components/projects.css";
@import "components/footer.css";
