@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

/* RESET */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0067f4;
  --white: #fff;
  --grey: #6c6c6c;
  --lightgrey: #f4f6f7;
  --base-px: 10px;
  --black: #121212;
  --green: #2ad8dd;
}

html {
  font-size: var(--base-px);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

/* ================= HEADER ================= */

.site-header {
  background: var(--blue);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
}

.logo {
  margin-left: 175px;
}

.logo img {
  width: 65px;
}

.nav {
  display: flex;
  gap: 22px;
}

.nav-link {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 185px;
}

.btn-download {
  background: var(--white);
  color: var(--blue);
  padding: 15px 29px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}

/* Burger */
.burger {
  display: none;
}

.burger span {
  display: block;
  width: 36px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

.burger span + span {
  margin-top: 6px;
}

.mobile-menu.is-open {
  display: flex;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 80%;
  top: 100%;

  justify-self: center;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
  background-color: var(--white);
 
  align-items: flex-start;
}

.mobile-link {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

/*SLIDER*/

.slider {
  background: var(--blue);
  position: relative;
  overflow: hidden; 
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  width: 95%;
  height: 710px;
  padding: 20px 120px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 40px;
}

.slide-title {
  font-size: 80px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1;
  margin-bottom: 40px;
}

.slide-text {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

.slide-buttons {
  display: flex;
  gap: 20px;
  margin-left: 10px;
}

.btn-pill {
  padding: 14px 26px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-primary {
  background: #fff;
  color: var(--blue);
}

.btn-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.slide-media {
  display: flex;
  justify-content: flex-start;
}
.slide-media img {
  margin: 0;
  max-width: 560px;
  width: 100%;
}

.slide-content {
  padding-left: 50px; 
}
/*FLÈCHES*/

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.slider-arrow::before {
  width: 24px;
  height: 24px;
  display: block;
}


.slider-arrow.prev {
  left: 20px;
}

.slider-arrow.next {
  right: 20px;
}

/*DOTS*/

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
  bottom: 50px;
}

.dot {
  width: 11px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dot.is-active {
  width: 28px;
  border-radius: 20px;
  background: #fff;
}

/*RESPONSIVE*/

@media (max-width: 900px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .slide {
    grid-template-columns: 1fr;
    padding: 60px 30px;
  }

  .slide-title {
    font-size: 48px;
  }

  .slide-media {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 2;
  }

  .slide-media img {
    width: 100%;
    height: auto;
    margin: 30px auto 0;
  }
}
/*NOS SERVICES*/

.services {
  background: var(--lightgrey);
  padding: 80px 0;
  padding-top: 55px;
  padding-bottom: 80px;
}

.services-inner {
  width: min(1200px, 90%);
  margin: 0 auto;
}

.services-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 35px;
}

.services-subtitle {
  color: var(--grey);
  margin-bottom: 50px;
  font-size: 16px;
  max-width: none;
  margin: 0 auto 28px;
  width: min(1100px, 96%);
  white-space: nowrap;
}

.services-title,
.services-subtitle {
  text-align: center;
}
/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
}

/* CARD */
.service-card {
  background: var(--white);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 360px;
}

/* HEADER CARD */
.service-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service-name {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: var(--black);
}

/* ICONES*/
.service-icon::before {
  width: 32px;
  height: 32px;
  display: block;
}

/* TEXTE */
.service-text {
  color: var(--black);
  margin-bottom: 20px;
}

/* LIEN */
.service-link {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue);
  text-transform: uppercase;
  margin-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .service-card {
    padding: 30px;
  }

  .service-name {
    font-size: 32px;
  }
}

/*PICTOS SERVICES*/

.service-icon {
  width: 90px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-icon::before {
  display: block;
  transform: scale(4) !important;
  transform-origin: center;
}
/*NOS TARIFS*/

.pricing {
  background: var(--white);
  padding: 60px 0 80px;
}

.pricing-inner {
  width: min(1200px, 90%);
  margin: 0 auto;
  text-align: center;
}

.pricing-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 35px;
}

.pricing-subtitle {
  font-size: 16px;
  color: var(--grey);
  margin-bottom: 30px;
}

/* GRID */
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 25px;
  justify-content: center;
}

/* CARD */
.pricing-card {
  background: var(--blue);
  border-radius: 30px;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ICON */
.pricing-icon {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  margin-top: -10px;
}

/* TEXTES */
.pricing-name {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: -6px;
}

.pricing-price {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.pricing-price span {
  font-size: 16px;
  font-weight: 400;
}
.pricing-desc {
  color: var(--white);
  font-size: 16px;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

/* BOUTON */
.pricing-btn {
  background: var(--white);
  color: var(--blue);
  padding: 14px 30px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .pricing-card {
    max-width: 340px;
    margin: 0 auto;
  }
}

/*NOS PROJETS */

.projects {
  background: var(--white);
  padding: 40px 0 90px;
}

.projects-inner {
  width: min(1200px, 90%);
  margin: 0 auto;
  text-align: center;
}

.projects-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 30px;
}

.projects-subtitle {
  font-size: 16px;
  color: var(--grey);
  margin-bottom: 25px;
}

.projects-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 40px;
  align-items: start;
  text-align: left;
  padding-left: 150px;
}

/* Menu vertical */
.projects-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.projects-tab {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 12px 18px;
  border-radius: 999px;
  font-weight: 1000;
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.projects-tab.is-active {
  background: var(--blue);
  color: var(--white);
}

/* Grille images */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 225px);
  gap: 10px;
  justify-content: start;
}

.project-item {
  width: 225px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

/* Mettre la 4e image sous la 1ère */
.projects-grid.show-all .project-item:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

/* Cacher (filtre) */
.project-item.is-hidden {
  display: none;
}

/* Responsive */
@media (max-width: 900px) {
  .projects-layout {
    grid-template-columns: 220px 1fr;
  }

  .projects-menu {
    flex-direction: column;
    gap: 10px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }

  .project-item:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }

  .header-inner {
    padding: 12px 20px; 
  }

  .logo {
    margin-left: 0; 
  }

  .header-actions {
    margin-right: 0; 
  }

  .btn-download {
    padding: 12px 18px; 
  }
}

/*FOOTER*/

.site-footer {
  background: var(--black);
  padding: 80px 0 100px;
  text-align: center;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.footer-socials {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  gap: 4px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon::before {
  width: 24px;
  height: 24px;
}

/* Texte */
.footer-phone,
.footer-email {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  margin-bottom: 8px;
}
.footer-phone {
  margin-bottom: 5px;
}

.footer-credits {
  margin-top: 35px; 
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}
.icon-facebook::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>');
}

.icon-linkedin::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z"/></svg>');
}

.icon-instagram::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>');
}

.icon-x::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><path d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"/></svg>');
}

.icon-arrow-right::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>');
}

.icon-arrow-left::before {
  content: url('data:image/svg+xml,<svg fill="%23fff" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/></svg>');
}

.icon-brush::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.58 0c-1.234 0-2.377.616-3.056 1.649-.897 1.37-.854 3.261-1.368 4.444-.741 1.708-3.873.343-5.532-.524-2.909 5.647-5.025 8.211-6.845 10.448 6.579 4.318 1.823 1.193 12.19 7.983 2.075-3.991 4.334-7.367 6.825-10.46-1.539-1.241-4.019-3.546-2.614-4.945 1-1 2.545-1.578 3.442-2.95 1.589-2.426-.174-5.645-3.042-5.645zm-5.348 21.138l-1.201-.763c0-.656.157-1.298.422-1.874-.609.202-1.074.482-1.618 1.043l-3.355-2.231c.531-.703.934-1.55.859-2.688-.482.824-1.521 1.621-2.331 1.745l-1.302-.815c1.136-1.467 2.241-3.086 3.257-4.728l8.299 5.462c-1.099 1.614-2.197 3.363-3.03 4.849zm6.724-16.584c-.457.7-2.445 1.894-3.184 2.632-.681.68-1.014 1.561-.961 2.548.071 1.354.852 2.781 2.218 4.085-.201.265-.408.543-.618.833l-8.428-5.548.504-.883c1.065.445 2.1.678 3.032.678 1.646 0 2.908-.733 3.464-2.012.459-1.058.751-3.448 1.206-4.145 1.206-1.833 3.964-.017 2.767 1.812zm-.644-.424c-.265.41-.813.523-1.22.257-.409-.267-.522-.814-.255-1.223.267-.409.813-.524 1.222-.257.408.266.521.817.253 1.223z"></path></svg>');
}

.icon-lightning::before {
  content: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M13 9h9l-14 15 3-9h-9l14-15-3 9zm-8.699 5h8.086l-1.987 5.963 9.299-9.963h-8.086l1.987-5.963-9.299 9.963z"></path></svg>');
}

.icon-design::before {
  content: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="m21 4c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-10 .5v15h-6.5v-15zm1.5 8h7v7h-7zm7-8v6.5h-7v-6.5z" fill-rule="nonzero"></path></svg>');
}

/*HEADER SCROLL*/
.site-header {
  transition: background-color 7s ease top;

}


.site-header::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--white);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.1s ease;
}

.site-header.is-scrolled::before {
  transform: translateY(0);
  transition: transform 0.1s ease;
}


.site-header.is-scrolled .nav-link {
  color: var(--black);
}

.site-header.is-scrolled .btn-download {
  background: var(--blue);
  color: var(--white);
}

.site-header.is-scrolled .burger span {
  background: var(--black);
}

@media (max-width: 700px) {
  .projects-layout {
    grid-template-columns: 1fr;
  }

  .projects-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.site-header.is-scrolled .mobile-menu {
  background: var(--white);
}

.site-header.is-scrolled .mobile-link {
  color: var(--black);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

body {
  padding-top: 70px; 
}

/*RESPONSIVE (1350 / 1050 / 750 / 550)*/

@media screen and (max-width: 1350px) {
  .header-inner {
    padding: 12px 40px;
  }
  .logo {
    margin-left: 60px;
  }
  .header-actions {
    margin-right: 60px;
  }
}

@media screen and (max-width: 1050px) {
  .header-inner {
    padding: 12px 24px;
  }
  .logo {
    margin-left: 0;
  }
  .header-actions {
    margin-right: 0;
  }

  .nav {
    gap: 14px;
  }
  .nav-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .header-inner {
    padding: 12px 16px;
  }

  .logo {
    margin-left: 0; 
  }

  .header-actions {
    margin-right: 0;
    gap: 10px;
  }

  .nav {
    display: none; 
  }

  .burger {
    display: block;
  }

  .btn-download {
    padding: 12px 16px;
  }

  .slide {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }
  .slide-title {
    font-size: 48px;
  }
  .slide-media {
    justify-content: center;
  }
  .slide-media img {
    max-width: 420px;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 550px) {
  .logo img {
    width: 52px;
  }

  .btn-download {
    font-size: 14px;
    padding: 10px 14px;
  }

  .slide-title {
    font-size: 40px;
  }

  .slide-buttons {
    gap: 14px;
    margin-left: 0;
  }

  .btn-pill {
    font-size: 14px;
    padding: 12px 18px;
  }

  .slider-arrow.prev {
    left: 10px;
  }
  .slider-arrow.next {
    right: 10px;
  }
}

@media (max-width: 900px) {
  .services-subtitle {
    white-space: normal;
  }
}

@media (max-width: 900px) {
  .pricing-card {
    padding: 36px 24px;
  }
}

@media (max-width: 900px) {
  .projects-layout {
    padding-left: 0;
    text-align: center;
  }

  .projects-grid {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-item {
    width: min(90vw, 320px);
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .site-footer {
    padding: 60px 0 80px;
  }

  .footer-credits,
  .footer-email,
  .footer-phone {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .slide-media {
    display: none !important;
  }

  .slide {
    grid-template-columns: 1fr;
  }

  .slide-content {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .services-grid {
    grid-template-columns: 300px;
    justify-content: center;
  }
}
