/* ================= FOOTER ================= */

.site-footer {
  background: var(--black);
  padding: 80px 0 100px;
  text-align: center;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.footer-socials {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  gap: 4px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon img {
  width: 24px;
  height: 24px;
}

/* Texte */
.footer-phone,
.footer-email {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-phone {
  margin-bottom: 5px;
}

.footer-credits {
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

/* ================= RESPONSIVE ================= */

/* 600px */
@media (max-width: 600px) {
  .site-footer {
    padding: 60px 0 80px;
  }
  .footer-credits,
  .footer-email,
  .footer-phone {
    font-size: 14px;
  }
}
