/* ================= HEADER ================= */

header {
  background: var(--blue);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000;
  font-size: 16px;
  font-weight: 700;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 12px 80px;
  max-width: 1400px;
}

.logo img {
  width: 65px;
}

.nav {
  display: flex;
  gap: 22px;
}

.nav a {
  color: var(--white);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-download {
  background: var(--white);
  color: var(--blue);
  padding: 15px 29px;
  border-radius: 10px;
}

/* Burger */
.burger {
  display: none;
}

.burger span {
  display: block;
  width: 36px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

.burger span + span {
  margin-top: 6px;
}

.mobile-menu.is-open {
  display: flex;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 80%;
  top: 100%;
  justify-self: center;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
  background-color: var(--white);
  align-items: flex-start;
}

.mobile-menu a {
  color: var(--black);
}

/* Header Scroll Effect */
header {
  transition: background-color 0.3s ease;
}

header::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--white);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

header.is-scrolled::before {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

header.is-scrolled .nav a {
  color: var(--black);
}

header.is-scrolled .btn-download {
  background: var(--blue);
  color: var(--white);
}

header.is-scrolled .burger span {
  background: var(--black);
}

header.is-scrolled .mobile-menu {
  background: var(--white);
}

header.is-scrolled .mobile-menu a {
  color: var(--black);
}

/* ================= MEDIA QUERIES ================= */

/* 1100px */
@media screen and (max-width: 1100px) {
  .header-inner {
    padding: 12px 24px;
  }
  .nav {
    gap: 14px;
  }
  .nav a {
    font-size: 14px;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }
}
