/* ================= NOS PROJETS ================= */

.projects {
  background: var(--white);
  padding: 40px 0 90px;
}

.projects-inner {
  width: min(1200px, 90%);
  margin: 0 auto;
  text-align: center;
}

.projects-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 30px;
}

.projects-subtitle {
  font-size: 16px;
  color: var(--grey);
  margin-bottom: 25px;
}

.projects-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 40px;
  align-items: start;
  text-align: left;
  padding-left: 150px;
}

/* Menu vertical */
.projects-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.projects-tab {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 12px 18px;
  border-radius: 999px;
  font-weight: 1000;
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 16px;
}

.projects-tab.is-active {
  background: var(--blue);
  color: var(--white);
}

/* Grille images */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 10px;
  justify-content: start;
}

.project-item {
  width: 225px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

/* Cacher (filtre) */
.project-item.is-hidden {
  display: none;
}

/* ================= RESPONSIVE ================= */

/* 1000px */
@media screen and (max-width: 1000px) {
  .projects-layout {
    padding-left: 0;
    grid-template-columns: 220px 1fr;
    text-align: center;
  }

  .projects-menu {
    flex-direction: column;
    gap: 10px;
  }
  .projects-grid {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 15px;
    justify-content: center;
  }
  .project-item {
    width: 260px;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .projects-layout {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .projects-menu {
    flex-direction: column;
    justify-content: flex-start;
    order: -1;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .projects-tab {
    width: 100%;
    font-size: 18px;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .project-item {
    width: 100%;
  }
}

/* 600px */
@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project-item {
    width: min(90vw, 320px);
    margin: 0 auto;
  }
}
